{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >

    <title>Home</title>

</head>
<body>



<div class="super_container" >

{% include 'navbar.html' %}



{% block content %}
    <div class="about">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title"><h1>WELCOME TO THE STORE</h1></div>
				</div>

			</div>
			<div class="row about_row">
					<div class="about_content">
						<div class="text_highlight">Here students can buy school accessories.</div>
						<div class="about_text">
							<p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet .Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu laoreet ante, sollicitudin volutpat quam. Vestibulum posuere malesuada ultrices. In pulvinar rhoncus lacus at aliquet. Nunc vitae lacus varius, auctor nisi sit amet, consectetur mauris. Curabitur sodales semper est, vel faucibus urna laoreet vel. Ut justo diam, sodales non pulvinar at, vulputate quis neque. Etiam aliquam purus vel ultricies consequat.</p>

						</div>
						<div class="button about_button"><a href="#">read more</a></div>
					</div>
				</div>

			</div>

		</div>

	</div>


{% endblock %}
{% include 'footer.html' %}
</div>

<script src="{% static 'js/slim.min.js' %}"></script>

<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}" ></script>

</body>
</html>